{% extends 'layouts/base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Register</h1>

			{{ form_start(registrationForm) }}
			<div class="row">
				<div class="col-md-6">
					{{ form_row(registrationForm.firstName) }}</div>
				<div class="col-md-6">
					{{ form_row(registrationForm.lastName) }}</div>
			</div>
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
			{{ form_row(registrationForm.agreeTerms) }}

			<div class="d-grid gap-2">
				<button class="btn btn-lg btn-primary" type="submit">
					Register
				</button>
			</div>
			{{ form_end(registrationForm) }}
            <div class="text-center mt-3">
				<p class="text-muted">Already have an account ?
					<a href="{{ path('app_login') }}">Log in</a>
				</p>
			</div>

		</div>
	</div>
{% endblock %}
